{% extends 'base.html' %}

{% block title %}
    Document
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>{{ list_details.name }}</h1>
        <p>
            <a href="{% url 'todo_list_update' list_details.id %}">Edit</a>
        </p>
        <p>
            <a href="{% url 'todo_list_delete' list_details.id %}">Delete</a>
        </p>
        <h2>Task</h2>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
            {% for todo in list_details.items.all %}
            <tr>
                <td>
                    <a href="{% url 'todo_item_update' todo.id %}">{{ todo.task }}</a>
                </td>
                <td>{{ todo.due_date }}</td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}
